html,
body {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 100%;
  font-family: "Open Sans", freesans, sans-serif;
  font-size: 14px;
  color: #242628;
  line-height: 1.5;
  letter-spacing: 1px;
}
.bar-top {
  width: 100%;
  height: 40px;
  padding: 10px 0px;
  color: #ffffff;
  background: #242628;
}
.bar-bottom {
  width: 100%;
  height: 40px;
  clear: both;
  position: relative;
  margin: 0px;
  padding: 10px 0px;
}
.bar-padded {
  position: relative;
  height: 100%;
  width: 780px;
  margin: 0px auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
.logo {
  display: inline-block;
  height: inherit;
  width: 40%;
}
.logo__text {
  margin-top: 5px;
  height: inherit;
  width: auto;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 10px;
}
.logo__img {
  max-height: 50px;
  max-width: 100%;
  height: auto;
  width: auto;
}
.navbar {
  display: inline-block;
  height: inherit;
  width: 40%;
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar__list ul {
  list-style-type: none;
  display: inline-block;
  margin-top: 7px;
  height: 100%;
}
.navbar__list ul > li {
  margin-left: 10px;
  display: inline-block;
}
.navbar__list a {
  transition: color 0.5s ease;
}
.navbar__list a:link,
.navbar__list a:visited {
  color: #ffffff;
  text-decoration: none;
}
.navbar__list a:hover,
.navbar__list a:active {
  color: #44b39b;
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jumbotron {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 500px;
  background-image: url('bg.png');
  background-position: center;
}
.jumbotron p {
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 2em;
  padding-top: 180px;
}
.jumbotron p:hover {
  cursor: default;
}
.content {
  height: 100%;
}
.credits {
  display: inline-block;
  width: 100%;
  margin-top: -5px;
  font-size: 14px;
  color: #bcbfc2;
}
a {
  color: #44b39b;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
